name: Terraform Databricks Job

on:
  pull_request:
    branches: [ main ]
    types: [opened, reopened, ready_for_review, synchronize, closed]
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  terraform_plan:
    if: github.event_name == 'pull_request' && github.event.action != 'closed' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        if: github.event.pull_request.draft == false
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          TF_VAR_git_personal_access_token: ${{ secrets.TF_VAR_git_personal_access_token }}
        run: terraform plan -input=false -var "databricks_host=$DATABRICKS_HOST" -var "databricks_token=$DATABRICKS_TOKEN" -var "git_personal_access_token=$TF_VAR_git_personal_access_token"

  terraform_apply:
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          TF_VAR_git_personal_access_token: ${{ secrets.TF_VAR_git_personal_access_token }}
        run: terraform apply -auto-approve -input=false -var "databricks_host=$DATABRICKS_HOST" -var "databricks_token=$DATABRICKS_TOKEN" -var "git_personal_access_token=$TF_VAR_git_personal_access_token"
